pre, code {
    display: inline-block;
    font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    padding: 0 0.5em;
    margin: 0;
}
.highlight {
    background: #eee;
    margin: 1em 0;
    overflow: auto;
    padding: 10px 0;
    width: 100%;
}
.container {
    max-width: 33rem;
}
.header-link {
    font-size: 0.8em;
    left: 0.5em;
    opacity: 0;
    position: relative;
    transition: opacity 0.2s ease-in-out 0.1s;
}
h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
}
