pre, code {
    display: inline-block;
    font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    padding: 0 0.5em;
    margin: 0;
}
.highlight {
    background: #eee;
    margin: 1em 0;
    overflow: auto;
    padding: 10px 0;
    width: 100%;
}
.container {
    max-width: 45rem;
}
.header-link {
    font-size: 0.8em;
    left: 0.5em;
    opacity: 0;
    position: relative;
    transition: opacity 0.2s ease-in-out 0.1s;
}
h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
}

.form-control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
    background-color: #fff;
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
    color: #333;
    font-size: 13px;
    min-height: 34px;
    outline: medium none;
    padding: 7px 8px;
    vertical-align: middle;
    box-sizing: border-box;
}
.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
  border-color: #51a7e8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(81, 167, 232, 0.5);
}

.sortorder-wrapper { text-align: center; margin-bottom: 1rem; }
.sortorder-wrapper #module_code { width: 300px; }
.sortorder-wrapper #module_sortorder { width: 50px; }
