---
layout: default
title: Usps Address Verification
description: Setting up Usps Address Verification
keywords: address verification
category: Firecheckout
---

# Usps Address Verification

1. Register USPS account and [enable api support](https://www.usps.com/business/web-tools-apis/welcome.htm)
2. Open USPS shipping method configuration and fill your details
  at `System > Configuration > Shipping Methods > USPS`
3. Enable Address Verification option at
  `System > Configuration > TM Checkout > Address Verification (USPS)`
